<div class="card mb-2">
    <div class="card-header bg-dark text-white">
        <h3><i class="far fa-images"></i> ¡Lo más actual!</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <p>Conectado</p>
            <br>
            <span id="txtNumPlayers"></span>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js" charset="utf-8"></script>